*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    box-sizing: border-box;
    // padding: 3rem;
    font-size: 1.6rem;
    overflow-x: hidden;
    background-color: rgb(243, 243, 243);
    height: 100%;
}

.app {
    // overflow-x: hidden;
    height: 100%;
}
