.button {
    padding: 2rem 4rem;
    border: 0;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s;
    color: $black;
    &--primary {
        color: white;
        background-color: $blue;
    }
    &:hover {
        transform: scale(1.02);
    }
}
