.button {
    padding: 2rem 4rem;
    border: 0;
    text-align: center;
    @include centerBoth;
    margin: 0.5rem;
    min-height: 6rem;

    i,
    svg {
        margin-left: 1rem;
    }

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s;
    color: $black;
    &--primary {
        color: white;
        background-color: $blue;
    }
    &--red {
        color: white;
        background-color: $red;
    }
    &:hover {
        transform: scale(1.02);
    }
}
